
<div class="span10 offset1">
<form class="form-search">
  <input type="text" class="input-medium" placeholder="Search">
  <input type="text" class="input-medium" placeholder="# Records">
  <input type="text" class="input-medium" placeholder="Start Record #">
  <select class="span2">
	<option value="relevance"> relevance</option>
	<option value="Author"> Author</option>				
	<option value="Title"> Title</option>
	<option value="Date"> Date Ascending</option>
	<option value="Date,,0"> Date Descending</option>
	<option value="LibraryCount"> Library Count Ascending</option>
	<option value="LibraryCount,,0"> Library Count Descending</option>
	<option value="Score"> Score Ascending</option>
	<option value="Score,,0"> Score Descending</option>
	<option value="OCLCNumber"> OCLC Number</option>		
  </select>
<button type="submit" class="btn">Search</button>
</form>
</div>

